<h1>帖子列表</h1>
<table>
  <tr>
    <th>标题</th>
    <th>正文</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
    <td><%= link_to '显示', post_path(post) %></td>
    <td><%= link_to '编辑', edit_post_path(post) %></td>
    <td><%= link_to '删除', post_path(post),
                    method: :delete, data: { confirm: '确定删除？' } %></td>
  </tr>
<% end %>
</table>
