<% if notice %>
  <div id="notice" class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<div class="panel  panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @post.title %></h3>
    <strong>状态：</strong><%= @post.state %>
    <strong>创建时间：</strong><%= @post.created_at %>
    <strong>修改时间：</strong><%= @post.updated_at %>
  </div>
  <div class="panel-body">
    <%= @post.text %>
  </div>
</div>

<%= link_to '编辑', edit_post_path(@post) %> |
<%= link_to '返回', posts_path %>
