<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong>保存时发生了如下 <%= @post.errors.count %> 个错误：</strong>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "标题"%><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :state, "状态" %><br>
    <%= f.number_field :state %>
  </div>
  <div class="field">
    <%= f.label :text, "正文" %><br>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>
